$navigationTheme: #111111;
$contentTheme: black;
$detailsTheme: #d000ff;
$copywritingColor: white;
$copywritingFont: 'Montserrat', sans-serif;
$copywritingFancy: 'Pinyon Script', italic;
$imageWidth: 100%;
$imageHeight: 110vh;
