<nz-layout>
    <nz-sider nzBreakpoint="lg" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      (click)="isCollapsed = !isCollapsed"></i>
      <app-nav *ngIf="!isCollapsed"></app-nav>
    </nz-sider>

  <nz-layout class="inner-layout">
    <nz-header *ngIf="isLoggedInAC">
      <app-header></app-header>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

  </nz-layout>
</nz-layout>
